## Spark Initialization

In [1]:
# Import findspark to read SPARK_HOME and HADOOP_HOME
import findspark
findspark.init()

In [2]:
# Import required library
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [3]:
# Print Spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000022BED843BE0>

## Loading Data using Spark

In [4]:
df = spark.read.csv("data.csv", header=True, inferSchema=True)

In [5]:
df.show()

+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+------------------+------------------+----------------+-------------+--------------------+------------------+------------------+--------------+
|trip_id|year|month|week|day|hour|  usertype|gender|          starttime|           stoptime|      tripduration|temperature| events|from_station_id|   from_station_name|    latitude_start|   longitude_start|dpcapacity_start|to_station_id|     to_station_name|      latitude_end|     longitude_end|dpcapacity_end|
+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+------------------+------------------+----------------+-------------+--------------------+------------------+------------------+--------------+
|2355134|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:57:00|2014-07-01 00:07:00|10.066666666666666|       68.0|tstorms|            131|Lincoln Ave & Bel...|         41.939365|        -87.668385|            15.0|          303|Broadway & Cornel...|         41.945512|-87.64598000000001|          15.0|
|2355133|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:56:00|2014-07-01 00:00:00| 4.383333333333334|       68.0|tstorms|            282|Halsted St & Maxw...|          41.86458|         -87.64693|            15.0|           22|  May St & Taylor St|        41.8694821|       -87.6554864|          15.0|
|2355130|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:33:00|2014-06-30 23:35:00|               2.1|       68.0|tstorms|            327|Sheffield Ave & W...|         41.921687|-87.65371400000001|            19.0|          225|Halsted St & Dick...|         41.919936|         -87.64883|          15.0|
|2355129|2014|    6|  27|  0|  23|Subscriber|Female|2014-06-30 23:26:00|2014-07-01 00:24:00|58.016666666666666|       68.0|tstorms|            134|Peoria St & Jacks...|         41.877749|        -87.649633|            19.0|          194|State St & Wacker Dr|         41.887155|         -87.62775|          11.0|
|2355128|2014|    6|  27|  0|  23|Subscriber|Female|2014-06-30 23:16:00|2014-06-30 23:26:00|10.633333333333333|       68.0|tstorms|            320|Loomis St & Lexin...|         41.872187|        -87.661501|            15.0|          134|Peoria St & Jacks...|         41.877749|        -87.649633|          19.0|
|2355127|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:11:00|2014-06-30 23:17:00|               5.6|       68.0|tstorms|            332|Halsted St & Dive...|         41.933341|        -87.648747|            15.0|          319|Greenview Ave & D...|         41.932595|        -87.665939|          15.0|
|2355126|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:08:00|2014-06-30 23:13:00| 5.066666666666666|       68.0|tstorms|            174|Canal St & Madiso...|41.882090999999996|        -87.639833|            23.0|           44|State St & Randol...|41.884730200599996|    -87.6277335692|          27.0|
|2355125|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:07:00|2014-06-30 23:16:00|              8.75|       68.0|tstorms|            199|Wabash Ave & Gran...|41.891738000000004|        -87.626937|            15.0|           24|Fairbanks Ct & Gr...|          41.89186|         -87.62062|          15.0|
|2355123|2014|    6|  27|  0|  23|Subscriber|  Male|2014-06-30 23:06:00|2014-06-30 23:09:00| 2.783333333333333|       68.0|tstorms|            238|Ravenswood Ave & ...|         41.961626|-87.67410100000001|            15.0|          316|Damen Ave & Sunny...|          41.96325|-87.67925799999999|          19.0|
|2355116|2014|    6|  27|  0|  22|Subscriber|  Male|2014-06-30 22:46:00|2014-06-30 22:51:00| 4.833333333333333|       68.0|tstorms|            169|Canal St & Harris...|         41.874337|        -87.639566|            15.0|           91|Clinton St & Wash...|41.883379999999995|-87.64116999999999|          31.0|
|2355111|2014|    6|  27|  0|  22|Subscriber|  Male|2014-06-30 22:22:00|2014-06-30 22:27:00| 5.466666666666667|       68.0|tstorms|            100|Orleans St & Merc...|         41.888243|         -87.63639|            23.0|          192| Canal St & Adams St|         41.878948|         -87.63975|          39.0|
|2355110|2014|    6|  27|  0|  22|Subscriber|Female|2014-06-30 22:17:00|2014-06-30 22:22:00| 5.483333333333333|       68.0|tstorms|            267|Lake Park Ave & 4...|         41.809443|        -87.591875|            15.0|          322|Kimbark Ave & 53r...|         41.799568|        -87.594747|          15.0|
|2355106|2014|    6|  27|  0|  22|Subscriber|  Male|2014-06-30 22:14:00|2014-06-30 22:17:00| 2.716666666666667|       68.0|tstorms|             50|Clark St & Congre...|     41.8759326655|-87.63058453549999|            27.0|           49|Dearborn St & Mon...|      41.881319815|    -87.6295209193|          27.0|
|2355100|2014|    6|  27|  0|  22|Subscriber|Female|2014-06-30 22:04:00|2014-06-30 22:08:00|3.7666666666666666|       68.0|tstorms|            210|Ashland Ave & Div...|         41.903448|        -87.669313|            19.0|          350|Ashland Ave & Chi...|41.895965999999994|-87.66774699999999|          15.0|
|2355098|2014|    6|  27|  0|  22|Subscriber|Female|2014-06-30 22:04:00|2014-06-30 22:24:00|20.483333333333334|       68.0|tstorms|            332|Halsted St & Dive...|         41.933341|        -87.648747|            15.0|          350|Ashland Ave & Chi...|41.895965999999994|-87.66774699999999|          15.0|
|2355097|2014|    6|  27|  0|  22|Subscriber|  Male|2014-06-30 22:03:00|2014-06-30 22:10:00| 6.916666666666667|       68.0|tstorms|             80|Aberdeen St & Mad...|         41.881487|        -87.654752|            19.0|           91|Clinton St & Wash...|41.883379999999995|-87.64116999999999|          31.0|
|2355096|2014|    6|  27|  0|  22|Subscriber|  Male|2014-06-30 22:02:00|2014-06-30 22:13:00|11.233333333333333|       68.0|tstorms|             31|Franklin St & Chi...|       41.89680204|      -87.63563839|            23.0|          287|Franklin St & Arc...|         41.881469|        -87.635177|          27.0|
|2355095|2014|    6|  27|  0|  22|Subscriber|Female|2014-06-30 22:01:00|2014-06-30 22:29:00|              27.5|       68.0|tstorms|            199|Wabash Ave & Gran...|41.891738000000004|        -87.626937|            15.0|           69|Damen Ave & Pierc...|     41.9093960065|    -87.6776919292|          19.0|
|2355092|2014|    6|  27|  0|  21|Subscriber|  Male|2014-06-30 21:55:00|2014-06-30 21:59:00|              4.15|       70.0|tstorms|            181|LaSalle St & Illi...|         41.890749|         -87.63206|            31.0|           51|Clark St & Randol...|      41.884576228|      -87.63188991|          31.0|
|2355091|2014|    6|  27|  0|  21|Subscriber|  Male|2014-06-30 21:55:00|2014-06-30 22:01:00| 5.633333333333334|       70.0|tstorms|            289|Wells St & Concor...|         41.912202|        -87.634664|            19.0|          138|Clybourn Ave & Di...|41.904509000000004|          -87.6405|          15.0|
+-------+----+-----+----+---+----+----------+------+-------------------+-------------------+------------------+-----------+-------+---------------+--------------------+------------------+------------------+----------------+-------------+--------------------+------------------+------------------+--------------+
only showing top 20 rows

In [6]:
df.count()

9495235

In [7]:
df.createOrReplaceTempView("divvy")

## Data Mining Process

### Dataset
Dataset diambil dari https://www.kaggle.com/yingwurenjian/chicago-divvy-bicycle-sharing-data merupakan data Bicyle Sharing di Chicago. Dataset berformat .csv dengan ukurang +-2GB memiliki 23 kolom yaitu 
- trip_id (number)
- year (number)
- month (number)
- week (number)
- day (number)
- hour (number : 0-24)
- usertype (text : customer, subscriber)
- gender (texr : male, female)
- starttime (datetime)
- stoptime (datetime)
- tripduration (number in minutes)
- temperature (number)
- events (text : unknown, clear, cloudy, rain or snow, tstorms, not clear)
- from_station_id (number)
- from_station_name (text)
- latitude_start (number)
- longitude_start (number)
- dpcapacity_start (number)
- to_station_id (number)
- to_station_name (text)
- latitude_end (number)
- longitude_end (number)
- dpcapacity_end (number)

In [8]:
# Daftar station yang paling banyak menjadi tujuan customer beserta kapasitas dock parkirnya
query1 = spark.sql("SELECT to_station_id, to_station_name, dpcapacity_end, COUNT(to_station_name) \
                    FROM divvy \
                    GROUP BY to_station_id, to_station_name, dpcapacity_end \
                    ORDER BY COUNT(to_station_name) DESC")

In [9]:
query1.show()

+-------------+--------------------+--------------+----------------------+
|to_station_id|     to_station_name|dpcapacity_end|count(to_station_name)|
+-------------+--------------------+--------------+----------------------+
|           91|Clinton St & Wash...|          31.0|                161152|
|           77|Clinton St & Madi...|          31.0|                102144|
|          192| Canal St & Adams St|          47.0|                 79442|
|           43|Michigan Ave & Wa...|          43.0|                 76968|
|          287|Franklin St & Mon...|          27.0|                 63659|
|          174|Canal St & Madiso...|          23.0|                 63509|
|           74|Kingsbury St & Er...|          23.0|                 60969|
|          133|Kingsbury St & Ki...|          27.0|                 60035|
|          117|Wilton Ave & Belm...|          23.0|                 58660|
|          289|Wells St & Concor...|          19.0|                 58628|
|          177| Theater on the Lake|          23.0|                 58249|
|           69|Damen Ave & Pierc...|          19.0|                 56857|
|          268|Lake Shore Dr & N...|          39.0|                 56569|
|          110|Dearborn St & Eri...|          23.0|                 56388|
|          181|LaSalle St & Illi...|          31.0|                 56185|
|           49|Dearborn St & Mon...|          27.0|                 55801|
|          211|St. Clair St & Er...|          19.0|                 55493|
|          140|Dearborn Pkwy & D...|          19.0|                 55312|
|           52|Michigan Ave & La...|          31.0|                 54953|
|           81|  Daley Center Plaza|          39.0|                 54433|
+-------------+--------------------+--------------+----------------------+
only showing top 20 rows

In [10]:
# Daftar jumlah pengguna berdasarkan tipe pengguna dan gendernya beserta rata-rata durasi perjalanan
query2 = spark.sql("SELECT usertype, gender, COUNT(usertype), AVG(tripduration) \
                    FROM divvy \
                    GROUP BY usertype, gender \
                    ORDER BY AVG(tripduration) DESC")

In [11]:
query2.show()

+----------+------+---------------+------------------+
|  usertype|gender|count(usertype)| avg(tripduration)|
+----------+------+---------------+------------------+
|  Customer|Female|            194|21.541323024054982|
|  Customer|  Male|           1083| 14.10594028931979|
|Subscriber|Female|        2378481|12.779013790734535|
| Dependent|  Male|            178|12.285205992509361|
|Subscriber|  Male|        7115299| 11.00085300467806|
+----------+------+---------------+------------------+

In [12]:
# Daftar transaksi paling banyak berdasarkan tahun dan bulan
query3 = spark.sql("SELECT year, month, COUNT(trip_id)  \
                    FROM divvy \
                    GROUP BY year, month \
                    ORDER by count(trip_id) DESC")

In [13]:
query3.show()

+----+-----+--------------+
|year|month|count(trip_id)|
+----+-----+--------------+
|2017|    8|        406964|
|2017|    7|        381960|
|2017|    6|        368841|
|2017|    9|        365210|
|2016|    8|        345086|
|2016|    6|        344473|
|2016|    7|        340516|
|2015|    8|        324861|
|2016|    9|        319003|
|2015|    7|        311632|
|2015|    9|        295226|
|2017|   10|        291880|
|2016|   10|        275132|
|2017|    5|        260717|
|2015|    6|        259727|
|2016|    5|        256118|
|2015|   10|        252321|
|2014|    7|        245397|
|2014|    8|        227792|
|2014|    9|        210532|
+----+-----+--------------+
only showing top 20 rows